* {
  color: white;
}

header {
  background-color: #83551e;
  margin: 5px 0px;
  height: auto;
}

h1 {
  margin: 5px;
  font-size: 60px;
}

h2 {
  margin: 34px 0px;
  width: auto;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

h3 {
  text-align: center;
  font-size: 24px;
  background-color: #082901;
  border-radius: 18%;
}

section {
  height: 1000px;
  margin: 0px;
  padding: 0px;
}

article {
  background-color: #71ced4;
  width: 74%;
  height: inherit;
  display: inline-block;
  margin: 5px 0px;
}

aside {
  background-color: #236718;
  height: inherit;
  float: right;
  width: 24%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2%;
}

.store {
  border-bottom-style: solid;
  border-color: white;
  height: auto;
  margin: 33px;
  padding-bottom: 25px;
}

ul {
  list-style-type: square;
  font-size: 16px;
}

#logo {
  height: 300px;
  width: 375px;
  margin: 0px;
  vertical-align: middle;
}

#headerImg {
  display: inline-block;
  height: auto;
  width: auto;
  margin: 5px;
}

#quote {
  background-color: #593709;
  display: inline-block;
  height: auto;
  width: 60%;
  margin: auto;
  margin-left: 20px;
}

#quote p {
  margin: 10px;
  text-align: center;
  font-size: 35px;
}

#family {
  float: right;
  padding: 10px;
}

#AboutUs p {
  display: inline-block;
  width: 50%;
}

#AboutHeader {
  width: auto;
  margin: auto;
  /*display: inline-block;*/
}
