html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: #83551e;
  margin-bottom: 50px;
}

h1 {
  margin: 5px;
  font-size: 60px;
}

h2 {
  margin: 34px 0px;
  width: auto;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

h3 {
  text-align: center;
  font-size: 24px;
  background-color: #082901;
  border-radius: 18%;
}

article {
  width: 70%;
  height: inherit;
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}

aside {
  background-color: #236718;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2%;
}

ul {
  list-style-type: none;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  display: flex;
  flex-direction: column;
  color: black;
  height: auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

.store {
  border-bottom-style: solid;
  border-color: white;
  height: auto;
  margin: 33px;
  margin-top: 0px;
  padding-bottom: 25px;
}

#logo {
  max-height: 100%;
  max-width: 100%;
  margin: 0px;
  vertical-align: middle;
}

#headerImg {
  height: 100%;
  max-width: 100%;
  margin: 5px;
}

#quote {
  background-color: #593709;
  height: auto;
  width: 58%;
  margin: auto;
}

#quote p {
  margin: 10px;
  text-align: center;
  font-size: 35px;
}

#AboutUs {
  height: 33%;
  width: 100%;
}

#AboutUs p {
  font-size: 18px;
  padding-left: 10px;
}

#AboutHeader {
  margin-left: 10px;
  padding-left: auto;
  display: inline;
}

#mission {
  height: 33%;
  margin-bottom: 40px;
}

#mission p {
  font-size: 18px;
  padding-left: 10px;
}

#missionHeader {
  margin-right: 10px;
  padding-right: auto;
  display: inline;
}

#main {
  display: flex;
  height: auto;
  flex-wrap: wrap;
}
