table {
  border-collapse: collapse;
  margin-bottom: 100px;
}

td {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  height: 50px;
  width: 50px;
}

fieldset {
  width: 700px;
  margin-bottom: 100px;
}

legend {
  font-size: 24px;
}

h1 {
  font-size: 32px;
  text-shadow: 2px 2px 1px gray;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

td:hover {
  background-color: black;
  color: white;
}

#rowHeader {
  background-color: white;
  font-weight: bold;
}

#makeStore {
  background-color: #21e6f2;
  width: 150px;
  height: 50px;
  font-size: 30px;
  font-family: monospace;
  border-radius: 5%;
  box-shadow: 5px 5px 1px gray;
}

#makeStore:hover {
  cursor: pointer;
}

#makeStore:active {
  background-color: #ffc634;
}
