table {
  border-collapse: collapse;
  margin-bottom: 100px;
}

td {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  height: 50px;
  width: 50px;
}

fieldset {
  width: 700px;
  margin-bottom: 100px;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

td:hover {
  background-color: black;
  color: white;
}

#rowHeader {
  background-color: white;
  font-weight: bold;
}

#makeStore {
  background-color: red;
}

#makeStore:hover {
  cursor: pointer;
}

#makeStore:active {
  background-color: green;
}
